<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= publisher %>’s <%= title %> <%= edition %></title>
    <link rel=stylesheet href=/normalize.css> <link rel=stylesheet
    href=/fonts.css> <link rel=stylesheet href=/styles.css>
  </head>
  <body>
    <header role="banner">
      <a href=/><img alt="Common Form logotype" src=/logo.svg></a>
      <h1><%= publisher %>’s <%= title %> </h1>
      <p class=edition><%= spelled %></p>
    </header>
    <main role="main">
      <dl>
        <dt>Publisher</dt>
        <dd><a href="/<%= publisher %>"><%= publisher %></a></dd>
        <dt>Project</dt>
        <dd><a href="/<%= publisher %>/<%= project %>"><%= project %></a></dd>
        <dt>Published</dt>
        <dd><%= published %></dd>
        <dt>Digest</dt>
        <dd><code class="digest"><%= digest %></code></dd>
        <dt>Downloads</dt>
        <dd>
          <ul>
            <li><a href="<%= docx %>">Microsoft Word</a></li>
            <li><a href="<%= json %>">JSON Data</a></li>
            <li><a href="<%= markdown %>">Markdown</a></li>
          </ul>
        </dd>
      </dl>
      <%- toc %>
      <%- rendered %>
    </main>
    <footer role="contentinfo">
      <a href="<%= github %>">Source file on GitHub.</a>
    </footer>
  </body>
</html>
