<!DOCTYPE html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Common Form</title>
    <link rel=stylesheet href=/normalize.css>
    <link rel=stylesheet href=/fonts.css>
    <link rel=stylesheet href=/styles.css>
  </head>
  <body>
    <header role=banner>
      <a href=/><img alt="Common Form logotype" src=/logo.svg></a>
      <h1>Common Form</h1>
      <p>an open repository of legal forms</p>
    </header>
    <main role=main>
      <h2>Featured Forms</h2>
      <ul class=featured>
      <% featured.forEach((feature) => { %>
        <li>
          <a href="/<%= feature.publisher %>/<%= feature.project %>/<%= feature.edition %>">
            <% if (feature.logo) { %><img class=logo src="<%= feature.logo %>" alt=logo><% } %>
            <%= feature.title %>
          </a>
          <%- feature.description %>
        </li>
      <% }) %>
      </ul>
      <h2>Projects and Publishers</h2>
      <p><a href=/guide>You can publish to commonform.org, too.</a></p>
      <ul>
        <% publishers.forEach((publisher) => { %>
        <% if (publisher.id === 'test') return %>
        <li>
          <a href="<%= publisher.id %>"><%= publisher.id %></a>
          <% if (publisher.about) { %>
          <%- publisher.about %>
          <% } %>
        </li>
        <% }) %>
      </ul>
    </main>
    <footer role=contentinfo>
      <p>
        More Contract Fun:
        <a href=https://edit.commonform.org>Edit forms.</a>
        <a href=https://redline.commonform.org>Redline things.</a>
      </p>
      <p>
        Behind the Curtain:
        <a href=https://github.com/commonform/commonform.org>Fiddle on GitHub.</a>
        <a href=/thanks>Thank fine people.</a>
      </p>
      <p><a href=/terms>Terms of Service</a></p>
    </footer>
  </body>
</html>
