<!DOCTYPE html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <title><%= publisher %>’s Forms</title>
    <link rel=stylesheet href=/normalize.css>
    <link rel=stylesheet href=/fonts.css>
    <link rel=stylesheet href=/styles.css>
  </head>
  <body>
    <header role=banner class="homepage">
      <a href=/><img alt="Common Form logotype" src=/logo.svg></a>
      <h1>Common Form</h1>
      <p>a free, open repository of legal forms</p>
    </header>
    <main role=main>
      <h2><%= publisher %>’s Forms</h2>
      <% if (about) { %>
      <%- about %>
      <% } %>
      <table>
        <% if (email) { %>
        <tr>
          <th>E-Mail</th>
          <td><a href="mailto:<%= email %>"><%= email %></a></td>
        </tr>
        <% } %>
        <% if (website) { %>
        <tr>
          <th>Website</th>
          <td><a href="<%= website %>"><%= website %></a></td>
        </tr>
        <% } %>
        <% if (location) { %>
        <tr>
          <th>Location</th>
          <td><%= location %></td>
        </tr>
        <% } %>
      </table>
      <% if (hasCompleteForms) { %>
      <h3>Forms</h3>
      <ul>
        <% Object.keys(projects).forEach((project) => { %>
        <% if (projects[project].buildingBlock === false) { %>
        <li><a href=./<%= project %>><%= project %></a></li>
        <% } %>
        <% }) %>
      </ul>
      <% } %>
      <% if (hasBuildingBlocks) { %>
      <h3>Building Blocks</h3>
      <ul>
        <% Object.keys(projects).forEach((project) => { %>
        <% if (projects[project].buildingBlock === true) { %>
        <li><a href=./<%= project %>><%= project %></a></li>
        <% } %>
        <% }) %>
      </ul>
      <% } %>
    </main>
    <footer role=contentinfo></footer>
  </body>
</html>
