<!DOCTYPE html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><%= publisher %> | Common Form</title>
    <link rel=stylesheet href=/normalize.css>
    <link rel=stylesheet href=/fonts.css>
    <link rel=stylesheet href=/styles.css>
    <% const rss = `https://commonform.org/${publisher}/feed.xml` %>
    <link rel=alternate href="<%= rss %>"/feed.xml type=application/rss+xml>
  </head>
  <body>
    <header role=banner>
      <a href=/><img alt="Common Form logotype" src=/logo.svg></a>
      <h1>Common Form</h1>
      <p>an open repository of legal forms</p>
    </header>
    <main role=main>
      <% if (logo) { %><img class=logo src="<%= logo %>" alt=logo><% } %>
      <h2><%= publisher %></h2>
      <% if (about) { %>
      <%- about %>
      <% } %>
      <% if (completeForms.length) { %>
      <h3>Forms</h3>
      <ul>
        <% completeForms.forEach((project) => { %>
        <% if (project.star) { %>
        <li class=star>
          <a href=./<%= project.name %>><%= project.name%></a>
          <%- project.description %>
        </li>
        <% } %>
        <% }) %>
        <% completeForms.forEach((project) => { %>
        <% if (!project.star) { %>
        <li>
          <a href=./<%= project.name %>><%= project.name %></a>
          <%- project.description %>
        </li>
        <% } %>
        <% }) %>
      </ul>
      <% } %>
      <% if (components.length) { %>
      <h3>Components</h3>
      <ul>
        <% components.forEach((project) => { %>
        <% if (project.star) { %>
        <li class=star>
          <a href=./<%= project.name %>><%= project.name %></a>
          <%- project.description %>
        </li>
        <% } %>
        <% }) %>
        <% components.forEach((project) => { %>
        <% if (!project.star) { %>
        <li>
          <a href=./<%= project.name %>><%= project.name %></a>
          <%- project.description %>
        </li>
        <% } %>
        <% }) %>
      </ul>
      <% } %>
      <% if (archived.length) { %>
      <h3>Archived</h3>
      <ul>
        <% archived.forEach((project) => { %>
        <li>
          <a href=./<%= project.name %>><%= project.name %></a>
          <%- project.description %>
        </li>
        <% }) %>
      </ul>
      <% } %>
      <h3 id=about>About</h3>
      <table>
        <% if (name) { %>
        <tr>
          <th>Name</th>
          <td><%= name %></td>
        </tr>
        <% } %>
        <tr>
          <th>Type</th>
          <td><%= type %></td>
        </tr>
        <% if (email) { %>
        <tr>
          <th>E-Mail</th>
          <td><a href="mailto:<%= email %>"><%= email %></a></td>
        </tr>
        <% } %>
        <% const prefix = new RegExp('^https://') %>
        <tr>
          <th>RSS Feed</th>
          <td><a href="<%= rss %>"><%= rss.replace(prefix, '') %></a></td>
        </tr>
        <% if (website) { %>
        <tr>
          <th>Website</th>
          <td><a href="<%= website %>"><%= website.replace(prefix, '') %></a></td>
        </tr>
        <% } %>
        <% if (location) { %>
        <tr>
          <th>Location</th>
          <td><%= location %></td>
        </tr>
        <% } %>
        <% if (trademarks) { %>
        <tr>
          <th>Trademarks</th>
          <td>
            <ul>
              <% trademarks.forEach((number) => { %>
              <li><a href="https://tsdr.uspto.gov/#caseNumber=<%= number %>&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch"><%= number %></a></li>
              <% }) %>
            </ul>
          </td>
        </tr>
        <% } %>
      </table>
    </main>
    <footer role=contentinfo></footer>
  </body>
</html>
